# for boto3
[default]
region = us-west-2

# for boto2
[Boto]
ec2_region_endpoint = ec2.us-west-2.amazonaws.com
autoscale_endpoint = autoscaling.us-west-2.amazonaws.com
cloudwatch_region_endpoint = monitoring.us-west-2.amazonaws.com
sns_region_endpoint = sns.us-west-2.amazonaws.com
elb_region_endpoint = elasticloadbalancing.us-west-2.amazonaws.com
autoscale_region_name = us-west-2
ec2_region_name = us-west-2
cloudwatch_region_name = us-west-2
sns_region_name = us-west-2
elb_region_name = us-west-2
num_retries = 12

# for boto2
[s3]
# Work around of ssl wildcard problem inspired by
# https://github.com/boto/boto/issues/2836
host = s3-us-west-2.amazonaws.com
calling_format = boto.s3.connection.OrdinaryCallingFormat
